@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

.text {
    &_title {
        padding-right: 10%;
        font-family: "Recoleta";
        font-weight: 600;
        font-size: 48px;
        line-height: 1.2;

        &-medium {
            font-size: 28px;
        }

        &-small {
            font-size: 24px;
        }
    }

    &_green {
        color: $dark-green;
    }

    &_light-green {
        color: $light-green;
    }

    &_white {
        color: $white;
    }

    &_medium {
        font-size: 16px;
    }

    &_small {
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 1000px) {
    .text_title {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .text_title {
        font-size: 26px;
        padding: 0;

        &-medium {
            font-size: 20px;
        }
    }
}