.header {
    background-color: $dark-green;
    height: 100vh;
    overflow-y: hidden;

    .container {
        width: 78vw;
    }

    .info-block {
        gap: 0;
    }

    .info-block__column {
        padding: 13% 0;

        img {
            position: absolute;
            width: 50%;
            bottom: 2%;
            right: 2%;
            transform: scale(1.1);
        }
    }

    .column__text {
        width: 38%;
    }

    .text_title {
        font-size: 52px;
    }
}

@media (max-width: 1250px) {
    .header {
        .container {
            width: 76vw;
        }

        .info-block__column {
            padding: 25% 0;
        }

        .text_title {
            font-size: 38px;
        }
    }
}

@media (max-width: 1000px) {
    .header {

        .text_title {
            font-size: 40px;
        }

        .info-block__column {
            padding: 15% 0;
            text-align: center;
        }

        .column__text {
            width: 43%;
        }
    }
}

@media (max-width: 768px) {
    .header {
        overflow-y: auto;

        .container {
            width: min(350px, 95vw);
        }

        .text_title {
            font-size: 36px;
        }

        .info-block__column {
            padding: 0;

            img {
                width: min(75%, 320px);
                right: 10%;
            }
        }

        .column__text {
            width: 100%;
        }
    }
}