.main__info {
    img {
        width: 100%;
    }

    .info-block__row_top {
        background-color: $dark-green;
    }

    .partners {
        padding-top: 113px;

        .info-block {
            &__row {
                img {
                width: 12%;
            }
        }

            &__column {
                width: 100%;
                gap: 55px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main__info .partners .info-block__row {
        gap: 40px;

        img {
            width: 65px;
        }
    }
}