.main__info {
    img {
        width: 100%;
    }

    .partners {
        padding-top: 113px;

        .info-block__row img {
            width: 12%;
        }

        .info-block__column {
            width: 100%;
            gap: 55px;
        }
    }
}

@media (max-width: 768px) {
    .main__info .partners .info-block__row {
        gap: 40px;

        img {
            width: 65px;
        }
    }
}