@import 'variables.scss';
@import 'null.scss';
@import 'fonts.scss';
@import 'templates.scss';
@import 'header.scss';
@import 'navigation.scss';
@import 'footer';

.main {
    height: fit-content;
    background-color: $dark-green;
    color: $white;

    .container {
        width: 80vw;
    }

    .question {
        font-size: 22px;
        text-align: left;
    }

    .info-block__row {
        align-items: flex-start;
        gap: 10vw;
    }

    .info-block__column {
        padding-top: 23%;
        align-items: flex-start;
        gap: 35px;

        img {
            bottom: -2%;
            left: 0;
            transform: scale(1.1);
        }
    }

    .input {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        .btn {
            align-self: flex-end;
        }
    }

    & &__input {
        border-radius: 10px;
    }
}

@media (max-width: 1000px) {
    .main {
        .conainer {
            width: 70vw;
        }
    .info-block__column {
        padding-top: 40%;
        align-items: center;
        text-align: center;
    }
}
}

@media (max-width: 768px) {
    .main {

        .info-block__column {
            align-items: center;
        }

        .info-block__row {
            align-items: center;
        }
    }
}