@import 'variables.scss';
@import 'null.scss';
@import 'fonts.scss';
@import 'templates.scss';
@import 'header.scss';
@import 'navigation.scss';
@import 'footer';

.main {
    height: max(fit-content, 100vh);
    background-color: $dark-green;
    height: 100vh;
    color: $white;
    overflow-y: hidden;

    .container {
        width: 80vw;
    }

    .text_title {
        padding: 0;
    }

    .label {
        font-size: 22px;
    }

    .info-block__row {
        gap: 10vw;
    }

    .info-block__column {
        padding-top: 25%;
        align-items: flex-start;

        img {
            position: absolute;
            width: 50%;
            left: 0;
            bottom: -5%;
        }
    }

    .input {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        .btn {
            align-self: flex-end;
        }
    }

    & &__input {
        border-radius: 10px;
    }
}

@media (max-width: 1000px) {
    .main .info-block__column {
        padding-top: 38%;
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
        overflow-y: visible;
    .info-block__column {
        padding-top: 0;
        img {
            padding-top: 200px;
        position: static;
        transform: scale(1.0);
    }
}
}}